
<form id="question-form-1">
	
</form>


<!-- Templates -->
<script type="text/template" id="tpl-question">
	<div id="question-<%%= id %>">
		<%%= description %>
	</div>
</script>

<script type="text/template" id="tpl-answer">
	<div id="answers-for-question-<%%= id %>">
		
	</div>
</script>

<script src="/assets/questionnaire.js?body=1" type="text/javascript"></script>

